section #sectiontitle {
    margin-top: 40px;
}
.descontact{
    font-family: Gill Sans;
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
}
form {
    color: rgb(255,255,255);
    background-image: url(Images/contactimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 30px;
    width: 60%;
    margin: 50px auto;
}
.name, .email, .prob, .file, .mess{
    background-color: rgb(255,255,255,0.2);
    backdrop-filter:blur(10px);
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 30px;
}
.name:hover, .email:hover, .prob:hover, .file:hover, .mess:hover, .send input:hover{
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8);
    transition: all .2s ease-in-out;
}
.probrad{
    display: inline;
    font-size: 20px;
    padding-left: 10px;
}
input, textarea{
    font-size: 20px;
    margin-top: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Gill Sans;
}
.send{
    margin-left: 10px;
}
.send input{
    font-size: 35px;
    border-radius: 10px;
    padding: 10px;
    color: rgb(225, 85, 40);
    font-weight: 600;
    font-family: Gill Sans;
}