header {
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.logo img {
    width: 350px;
    border-radius: 20px;
    margin-left: 40px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right a {
    text-decoration: none;
    font-size: 23px;
    color: rgb(191, 191, 191);
    margin: 0 15px;
    font-family: poppins;
    margin-right: 40px
}
.right a:hover {
    border-bottom: 0.5mm solid rgb(100, 100, 100);
}
body {
    background: linear-gradient(to right, black 33%, rgb(30, 28, 28) 67%, black 100%);
    color: rgb(191, 191, 191)
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(grey, gray);
    border-radius: 10px;
}
@keyframes appear {
    from {
        opacity: 0;
        scale:0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.first {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
}
.fitstl {
    flex-grow: 1;
}
.title {
    font-family: fantasy;
    font-size: 45px;
    line-height: 60px;
    margin: 20px 0;
}
.firstr img{
    width: 550px;
    border-radius: 30px;
}
@font-face {
    font-family: "Gowun Batang";
    src: url(Font/GowunBatang-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Gowun Batang Bold";
    src: url(Font/GowunBatang-Bold.ttf) format('truetype');
}
.second1b,.second1t,.second2b,.second2t,.second3b,.second3t,.second4b,.second4t {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 27%;
    color:black;
    text-align: center;
    font-size: 25px;
    font-family: "Gowun Batang Bold";
}
h3 {
    font-size: 30px;
    font-family: "Gowan Batang Bold";
}
.secondt, .secondb {
    margin: 0, auto;
    width: 100%;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.secondth {
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
    padding-bottom: 70px;
}
.second1t {
    background-color: #D33F49;
    height: 250px;
    width: 350px;
    border-radius: 30px;
}.second2t {
    background-color: #D7C0D0;
    height: 350px;
    width: 350px;
    border-radius: 30px;
}.second3t {
    background-color: #EFF0D1;
    height: 250px;
    width: 350px;
    border-radius: 30px;
}
.second4t {
    background-color: #77BA99;
    height: 350px;
    width: 350px;
    border-radius: 30px;
}
.second1b {
    background-color: #7798AB;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    margin-top:-150px;
}.second2b {
    background-color: #9dd8a2;
    height: 250px;
    width: 350px;
    border-radius: 30px;
    margin-top: -50px;
}.second3b {
    background-color: #CB904D;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    margin-top: -150px;
}
.second4b {
    background-color: #EDB6A3;
    height: 250px;
    width: 350px;
    border-radius: 30px;
    margin-top: -50px;
}
/*
img {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;  
  }
img:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }
    */
