header {
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.logo img {
    width: 350px;
    border-radius: 20px;
    margin-left: 40px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right a {
    text-decoration: none;
    font-size: 23px;
    color: rgb(191, 191, 191);
    margin: 0 15px;
    font-family: poppins;
    margin-right: 40px
}
.right a:hover {
    border-bottom: 0.5mm solid rgb(100, 100, 100);
}
body {
    background: linear-gradient(to right, black 33%, rgb(30, 28, 28) 67%, black 100%);
    color: rgb(191, 191, 191)
}
.first {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
}
.fitstl {
    flex-grow: 1;
}
.title {
    font-family: fantasy;
    font-size: 45px;
    line-height: 60px;
    margin: 20px 0;
}
.firstr img{
    width: 550px;
    border-radius: 30px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(grey, gray);
    border-radius: 10px;
}